@import "tailwindcss";

@theme {
    --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-agdasima: 'Agdasima', sans-serif;
    
    --color-brag-primary: #d6ff00;
    --color-brag-base: #040028;
    --color-brag-cyan: #00fffe;
}

@layer base {
    body {
        @apply bg-brag-base text-white;
    }
}
